

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CategoryMgr</title>
    <link href="~/CSS/bootstrap/bootstrap.min.css" type="text/css"/>
</head>
<body>
    <div>
        <h4>category</h4>
        <hr />
        <table class="table-striped">
            @if (ViewBag.Categorys != null)
            {
                <thead>
                    <th>
                        <td>标题</td>
                        <td>描述</td>
                    </th>
                </thead>
                <tbody>
                    @foreach (var c in ViewBag.Categorys)
                    {
                    <tr>
                        <td>@c.c_name</td>
                        <td>@c.c_desc</td>
                    </tr>
                    }
                </tbody>
            }
        </table>
        <div class="nav-divider">
            <form class="form-group" action="CreateCategory" method="post">
                <legend>标签名称</legend>
                <input type="text" placeholder="标题…" name="CategoryName"/>
                <input type="text" placeholder="描述…" name="CategoryDesc" />
                <button type="submit" class="btn">注册</button>
            </form>
        </div>
    </div>
    <p>
    </p>
</body>
</html>
