
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>未登录（这里支持多语言）</title>
    <script src="~/scripts/jquery-1.8.3.min.js"></script>
    <link href="~/CSS/bootstrap/bootstrap.min.css" type="text/css" />
    <script src="~/scripts/bootstrap/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            count(6);//6秒后返回到主页
        });

        function count(secs) {
            if (secs > 0) {
                $('#return span').html(secs.toString());
                secs--;
                setTimeout(count,  1000, secs);
            } else {
                //进入主页
                location.href = '/Home/Index';
            }
        }
    </script>
</head>
<body>
    <div> 
        <div class="warning">您还没有登录</div>
        <div id="return">将在<span></span>秒后返回主页</div>
    </div>
</body>
</html>
