
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div> 
        <form action="Register" method="post"><!--写Account/Register会出现请求是Account/Account/Register；可能是因为当前View和目标Action在同一个Controller的范围-->
            <div>
                <label>用户名：</label>
                <input type="text" name="username" />
            </div>
            <div>
                <label>密码：</label>
                <input type="password" name="password" />
            </div>
            <div>
                <label>再次输入密码：</label>
                <input type="password" name="passwordagain" />
            </div>
            <div>
                <input type="submit" name="注册"/>
            </div>
        </form>
    </div>
</body>
</html>
